<div class="jumbotron">
    <div class="container">
        <h1>Contribute Sharing</h1>
        <p>Share for the better thing.</p>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>Why?</h2>
            <p>Welcome to my page, I did some good thing and I want to share with you. My idea is sharing is contributing, in the way of contributing together, we can make something better. </p>
            <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
        </div>
        <div class="col-md-4">
            <h2>What?</h2>
            <p>Your information, this is oil for vehicle. </p>
            <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
        </div>
        <div class="col-md-4">
            <h2>How?</h2>
            <p>Whenever you use and save your information in our page, you are contributing. </p>
            <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
        </div>
    </div>
    <hr>
</div>
